
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">登録日</th>
      <th scope="col">メモしたもの</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= "id" %></th> // lists.id 
      <td><%= "4/15" %></td>           // lists.date
      <td><%= "買い物" %></td>          // lists.buy_list
    </tr>
  </tbody>
</table>