/*ログインユーザーが使用できる食材一覧ページ */

.food-top {
  width: auto;
  height: 100%;
}

.food-main {
 text-align: center;
  h1{
    height: 150px;
    font-size: 40px;
    padding-top: 30px;
  }
}

// 食材一覧ページ郡
.food-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

// 食材一覧ページの商品単体の設定
.food-content {
  display: inline;
  float: left;
  margin: 10px 0 0 10px;
  padding: 10px;
  font-size: 20px;
  border: cadetblue 2px solid;
  background-color: rgba(94, 160, 81, 0.7);
  border-radius: 30px;

    &:hover{
      background-color: rgba(161, 216, 151, 0.7);
    }

    .button:hover {
      font-size: 20px;
    }

    a{
      margin: 5px;
      font-size: 14px;
    }
}
