/* editアクションと併用 */

.items-contents {
 width: 100%;
 height: 100%;
 text-align: center;
}

.items {
  padding-top: 20px;
  margin: 10px;
  font-size: 30px;
  letter-spacing: 2px;

  .necessary {
    color: red;
    font-size: 20px;
  }

}

.item-memo {
  width: 50vh;
}

.sell-btn-contents {
 margin: 20px;
}

.back-btn{
  display: block;
  margin-top: 30px;
  padding-bottom: 50px;
  font-size: 20px;
}

.hidden1,
.hidden2{
  display: none;
}


 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .item-memo {
    width: 50vh;
    font-size: 10px;
  }
}


 /* スマホ表示時 */
@media (max-width: 599px) {

  .items{
    font-size: 20px;
  span {
    font-size: 15px;
   }
  }

  .item-memo {
    width: 45vh;
    font-size: 8px;
  }

}