<div class="container">
    <header class="text-center">
        <h1>買い物用メモ</h1>
   　 <form class="add">
        <input type="text" class="form-control" name="add" placeholder="購入予定の食材を入力ください。">
    　</form>
    </header>

    <ul class="todos">
        <!-- javaScript でリストを追加する予定-->
    </ul>
</div>

