/*新規登録ページ */

.registration {
  width: 100%;
  height: 100%;
  text-align: center;
}

.registration-input {
  width: 50vw;
  height: 90vh;
  display: inline-block;
  text-align: center;
  padding: 50px 20px 20px 20px;
  border: royalblue 3px dotted;
  background-color: rgba(104, 144, 182, 0.2);
}

h2 {
  margin-bottom: 30px;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

/* session.cssでも反映 */

.field {
  padding: 15px;
}

.field-label {
  font-size: 30px;
}

input[type="email"] {
   height: 40px;
  }

input[type="password"] {
   height: 40px;
  }

.actions {
  margin: 30px;
} 
.btn {
  padding: 10px 20px;
  font-size: 20px;
}

.exit {
  font-size: 20px;
}



 /* タブレット表示時 */
 @media (max-width: 1024px) {

  .registration-input {
    width: 70vw;
    height: 100vh;
  }
}


 /* スマホ表示時 */
@media (max-width: 599px) {

  .registration-input {
    width: 95vw;
    height: 95vh;
  }

  .field {
    padding: 12px;
  }

  .field-label {
    font-size: 20px;
  }

  html {
    margin: 0px;
  }

  .actions {
    margin-bottom: 50px;
  }

  .exit {
    font-size: 10px;
    margin-bottom: 50px;
  }
}