/*ユーザー検索ページ */

/*全体の設定
---------------------------------------------------------------------------*/

.search input{
  padding: 20px;
}

.search-form {
  position: relative;
}

.search-input {
  position: absolute;
  top: 150px;
  left: 550px;
  width: 500px;
}

.search-btn{
  position: absolute;
  top: 150px;
  left: 1150px;
}

.search-users {
  position: relative;
  margin: 0 auto;
}

.search-explanation  {
  position: absolute;
  font-size: 25px;
  top: 350px;
  left: 550px;
}

.results {
  position: absolute;
  top: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.result {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border: cadetblue 2px solid;
  background-color: rgba(94, 160, 81, 0.7);
  border-radius: 10px;
}

.result:hover{
  background-color: rgba(101, 209, 137 ,0.3);
}

.top-to-page{ 
  width: 130px;
  height: 50px;
  display: inline-block;
  background-color: paleturquoise;
  color: black;
  text-align: center;
  padding-top: 30px;
}

.top {
 display: none;
}

 /* タブレット表示時 */

 @media (max-width: 1024px) {

  /*メイン
---------------------------------------------------------------------------*/

  .title-name a{
    font-size: 25px;
  }

  .signin a{
    display: inline;
    font-size: 15px;
  }

  .search{
    position: relative;
  }

  .search-input {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 450px;
    font-size: 5px;
  }

  .search-btn {
    position: absolute;
    top: 150px;
    left: 550px;
    padding: 10px;
    width: 40px;
    height: 20px;
    font-size: 6px;
  }

  .search-users {
    position: relative;
    margin: 0 auto;
  }
  
  .search-explanation {
    position: absolute;
    font-size: 20px;
    top: 280px;
    left: 100px;
  }

  .results {
    justify-content: space-around;
  }

  .top {
    display: block;
   }

 }



 /* スマホ表示時 
---------------------------------------------------------------------------*/
@media (max-width: 599px) {

  .search{
    position: relative;
  }

  .search-input {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 190px;
    font-size: 15px;
  }

  .search-btn {
    position: absolute;
    top: 200px;
    left: 260px;
    padding: 10px;
    width: 30px;
    height: 20px;
    font-size: 8px;
  }

  .search-users {
    position: relative;
    margin: 0 auto;
  }
  
  .search-explanation {
    position: absolute;
    font-size: 10px;
    top: 300px;
    left: 30px;
  }

  .results {
    justify-content: space-around;
    margin-top: 10px;
    font-size: 8px;
  }

  .top {
    display: block;
   }

}
