.search input{
  padding: 20px;
}

.search-form {
  position: relative;
}

.search-input {
  position: absolute;
  top: 150px;
  left: 550px;
  width: 500px;
}

.search-btn{
  position: absolute;
  top: 150px;
  left: 1150px;
}

.search-users {
  position: relative;
  margin: 0 auto;
}

.search-explanation {
  position: relative;
  font-size: 25px;
}

.details {
  position: absolute;
  top: 350px;
  left: 500px;
}

.results {
  position: absolute;
  top: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.result {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border: cadetblue 2px solid;
  background-color: rgba(94, 160, 81, 0.7);
}
