.session-main{
  text-align: center;
}

.header {
  height: 80px;
  width: 100%;
  background-color:white;
  position: fixed;
  border-bottom: burlywood 1px solid;
}
.user-name{
 text-align: right;
 font-size: 20px;
}

.name{
  padding-right: 20px;
}

.login{
  list-style: none;
  float: right;
}

input[type="submit"] {
  padding: 10px 20px;
 }

.login a {
  font-size: 20px;
  margin-bottom: 5px;
}

.exit a {
  display: block;
  padding-bottom: 30px;
  font-size: 20px;
}



